zig-cache/
**/zig-cache/
zig-out/
**/zig-out/

build/
debug/
release/

*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.so
*.exe
*.pdb

*.test
*.profdata
coverage/
llvm-profdata*
llvm-cov*

*.log
*.tmp
*.temp
*.swp
*.swo
*.bak

.vscode/
.idea/
*.iml
.fleet/
.vscode-test/

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.tags
.tags_sorted_by_file
